/* 전체적용 */
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none; 
	font-family:Cafe24Ssurround;
}
.spinner-div{
	width: 100%;
    height: 100vh;
    background-color: #00000040;
	position: absolute;
}
.loader {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	display: block;
	margin:25% auto;
	position: relative;
	color: #FFF;
	box-sizing: border-box;
	animation: animloader 2s linear infinite;
  }
  
  @keyframes animloader {
	0% {
	  box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
	}
	25% {
	  box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 2px;
	}
	50% {
	  box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 2px,  -38px 0 0 -2px;
	}
	75% {
	  box-shadow: 14px 0 0 2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
	}
	100% {
	  box-shadow: 14px 0 0 -2px,  38px 0 0 2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
	}
  }	
textarea{
	resize: none
}
.pointer:hover{
	cursor: pointer;
}
.center{
	text-align: center;
}

input[type=password] {
    font-family: initial;
}

/* 폰트 */
@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KCC-Ganpan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.font_air{
	font-family: 'Cafe24SsurroundAir';
}

.bold{
	font-weight: bold;
}

/* body, html, a, button, table, input, select, textarea {
	font-family:Cafe24Ssurround;
} */
input[type=password]::placeholder {
	font-family: 'Cafe24SsurroundAir';
	font-weight: 600;
}

/* 헤더 */
.skip_nav a {
	position:absolute; 
	top:-30px; 
	left:0; 
	background:#000; 
	height:30px; 
	line-height:30px; 
	color:#fff; 
	font-size:12px; 
	padding:0 6px;
	z-index: 9999999;
  }
  .skip_nav a:focus,.skip_nav a:active{
	top:0;
  } 

  .header {
	width:100%;
	height:100px;
	z-index: 998;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	background-color: #fff;
	padding: 0 20px; 
	/* border-bottom: solid 1px rgba(255, 255, 255, 0.5); */
  }
  .header_left,.header_right,.header_mid,.logo,.logo a,.lnb,.nav,.gnb,.nav li,.nav li a {
	height: 100%;
  }
  .logo {
	display: flex;
	width: 9rem;
	align-items: center;
	background: url("logo.png") center center no-repeat;
	background-size:contain;
	font-size: 0;
	margin-left: 1.5rem;
  }
  .logo a{
	display: block;
	width: 100%;
	font-size: inherit;
  }
  .nav{
	display:flex;
	align-items:center;
	font-size:1.375rem;
  }
  .nav li{
	position: relative;
  }
  .nav > li > a{
	color: var(--main-color);
	display: flex;
	padding: 0 3.5rem;
	align-items: center;
	font-size: 1.3rem;
	font-family: 'Cafe24SsurroundAir';
	font-weight: bolder;
  }
  
  .header .nav > li:hover > a{
	color: var(--sub-02-color);
	font-weight: 800;
	
  }
  .gnb{
	display: flex;
	justify-content: flex-start;
	align-items: center;
  }
  .gnb li{
	margin-left: 2rem;
  }
  .gnb li:last-child{
	margin-right: 1.5rem;
  }
  .gnb li a,.gnb_logout{
	font-size: 1.05rem;
	font-weight: 500;
	color: #3a3a3a;
	font-family: 'Cafe24SsurroundAir';
	font-weight: bolder;
  }
  .header .depth1{
	position:absolute;
	top:100%;
	left:50%;
	width:100%;
	overflow:hidden;
	visibility:hidden;
	opacity:0;
	padding:10px 20px;
	border-radius:0 0 20px 20px;
	background-color:#fff;
	transform:translatex(-50%);
	transition:opacity .3s, visibility .3s, transform .3s;
	z-index:999;
	text-align: center;
  }
  .header .depth1 li a{
	font-size: 1rem;
	/* font-weight: 500; */
	margin-bottom: 1rem;
	color: #000;
	display: block;
	font-family: 'Cafe24SsurroundAir';
	font-weight: bolder;
  }
  .header .depth1 li a:hover{
	font-weight: 700;
  }
  .header .depth1 li:last-child{
	margin-bottom: 0px;
  }
  .header .nav > li:hover > a{
	background-color: #efefef;
  }
  .header .nav li:hover .depth1, .header .nav li.dropdown .depth1{
	visibility:visible;
	opacity:1;
	transform:translatex(-50%);
  }
  .header.hover .lnb::before {
	height: 300px;
  }
  .menu_btn,.mo_header,.mo_search_btn{
	display: none;
  }
  ol,ul {
	list-style:none;
  }
  a {
	text-decoration:none
  }

.header_icon{
	display: flex;	
}
.header_icon div{
	padding-right: 5px;
}
@media screen and (max-width: 1600px) {
  .header {height: 75px;padding: 0 10px;}
  .gnb li{margin-left: 15px;}
  .lnb::before {top: 75px;}
  .search_area{height: 75px;}
  .search_area.on{top: 75px;}
}

@media screen and (max-width: 1200px) {
  .nav > li > a{padding: 0 1.65rem;}
}

@media screen and (max-width: 900px) {
  .header {height: 65px;padding: 0 10px;}
  .lnb,.gnb{display: none;}
  .search_area{height: 65px;}
  .search_area.on{top: 65px;}
  .search_input .input{width: 330px;}

  .menu_btn{position:fixed;right:10px;width:30px;height:65px;display: flex;z-index: 9999;flex-direction: column;justify-content: center;top:0;}
  .menu_btn span{width:100%;height:3px;background-color:var(--main-color);display:block;-webkit-transition:all .35s ease-in-out;-moz-transition:all .35s ease-in-out;-ms-transition:all .35s ease-in-out;-o-transition:all .35s ease-in-out;transition:all .35s ease-in-out;}
  .menu_btn span + span{margin-top:7px;}
  .menu_btn.active span:nth-child(2){opacity:0;}
  .menu_btn.active span:nth-child(1){-webkit-transform:translateY(10px) rotate(45deg);-ms-transform:translateY(10px) rotate(45deg);-o-transform:translateY(10px) rotate(45deg);transform:translateY(10px) rotate(45deg);}
  .menu_btn.active span:nth-child(3){-webkit-transform:translateY(-10px) rotate(-45deg);-ms-transform:translateY(-10px) rotate(-45deg);-o-transform:translateY(-10px) rotate(-45deg);transform:translateY(-10px) rotate(-45deg);}
  .menu_btn.active{-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out;}

  .mo_search_btn{position: fixed;right:55px;width:30px;height:65px;display: flex;z-index: 999;flex-direction: column;justify-content: center;top:0;}
  .mo_search_btn .material-icons{color: var(--sub-01-color);font-size: 2rem;margin-top: 2px;}
  
  .mo_header {position: fixed;right: -100%;z-index: 20;overflow: auto;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;width: 100%;height: 100%;z-index: 1000;background-color: #fff;display: block;}
  .mo_header.active {right:0%;}

  .mo_header .gnb{display: flex;height: 60px;padding: 0 20px;}
  .mo_header .gnb li{margin-left: 0px;margin-right: 30px;}
  .mo_header .gnb li a{font-size: 1.2rem;}

  .mo_header .nav{display: block;height: auto;margin: 0 10px;}
  .mo_header .nav > li > a {display:flex;padding:1.2em .4em 1.2em .8em; border-bottom:1px solid #e1e1e1;color: #000;width: 100%;justify-content: space-between;align-items: center;}
  .mo_header .nav > li.active > a {color: var(--sub-01-color);font-weight: 800;}

  .mo_header .depth1 {display:none; width:100%; height:auto;background-color: #f7f7f7;transition: none;opacity: 1;position: unset;padding: 0.5em 0;}
  .mo_header .depth1 > li {text-align: left;}
  .mo_header .depth1 > li > a{font-size: 1rem;padding: 0.8em 1.5em;display: block;}

}

/* 메인 */
.main {
	font-size: 3.8rem;
}
/* 메인 첫번째 */
.main_1 {
	height: 100vh;  
	width: 100%;  
	position: relative;
	background-image: url(/img/main_bg_1.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100vh;
  }
  .main_sl {
	height: 100vh;  
	width: 100%;  
  }
  .main_1_box {
	width: 100%;
  }
  .main_txt {
	float: left;
	margin: 0 100px;
	padding: 290px 0 0;
	color: #fff;
	font-weight: 600;
	line-height: 6rem;
  }
  .main_txt_up {
	color: #f2cc0f;
	font-size: 4.4rem;
  }
  .main_txt_down {
	font-size: 4rem;
  }
  .main_wea {
	display: block;
	height: 160px;
	width: 160px;
	margin: 200px 50px;
	position: fixed;
	right: 0;
	z-index: 10;
  }
  .main_wea_up {
	height: 45px;  
	width: 150px; 
	background-color: rgba(0, 0, 0, 0.3);
	color: rgba(255, 255, 255);
	border-radius: 25px 25px 0px 0px;
	font-size: 2rem;
	padding: 0 11px;
	margin: 0 0 1px;
	display: flex;
	justify-content: center;
    align-items: flex-end;
	letter-spacing: 0.2rem;
  }
  .main_wea_down {
	height: 80px;  
	width: 150px; 
	background-color: rgba(0, 0, 0, 0.3);
	color: rgba(255, 255, 255);
	border-radius: 0px 0px 25px 25px;
	display: flex;
    align-items: center;
    font-size: 1.9rem;
    justify-content: center;
    gap: 0.5rem;
}
.main_wea_icon {
	font-size: 3.15rem;
}
.main_wea_degree {
	font-family: 'KCC-Ganpan';
	vertical-align: text-top;
  }

  .animate__animated.animate__lightSpeedInRight {
	--animate-duration: 1.3s;
  }
  
  /* 반응형 */
  /* @media screen and (max-width: 740px) {
	* { 
	  font-size:22px
	}
  } */
  
  /* 메인 두번째 */
  .main_2 {
	height: 100vh;  
	width: 100%;  
	background-color: #fff;
	position: relative;
	/* display: flex; */
}
  .main_box_left {
	display: flex;
	position: relative;
	flex-direction: column;
	z-index: 1;
  }

  .main_2_box {
	width: 100%;
	/* height: 100vh; */
	padding: 110px 0 0 100px;
	display: flex;
  }
  .main_sub_tit {
	margin: 0 0 1rem;
	font-size: 1.3rem;
	display: inline-block;
  }
  .main_sub_line {
	content: "";
	display: inline-block;
	margin-left: 0.8rem;
	margin-top: 1rem;
	width: 8rem;
	height: 1px;
	background-color: #222;
	vertical-align: middle;
  }
  .main_sub_txt {
	display: block;
	font-weight: 500;
	width: 550px;
  }
  .main_sub_y {
	width: 11rem;
	height: 11rem;
	position: absolute;
	top: 82px;
    left: -25px;
	z-index: -1;
  }
  .main_shap {
	margin: 3px 0;
	padding-left: 5px;
	font-size: 1.7rem;
	font-family: 'Cafe24SsurroundAir';
	font-weight: bolder;
  }
.main_2_news {
	display: flex;
	margin-top: 70px; 
	margin-left: 100px;
	height: 60vh;
	flex-direction: row;
    flex-wrap: wrap;
}
.main_2_news_l {
	width: 500px;
	margin: 0 1.5rem 1.5rem 0;
	border-radius: 10px;
	height: 280px;
	padding: 30px;
	background-color: #f8f8f8;
}
.art_plus {
	display: flex;
	justify-content: space-between;
	font-size: 1.1rem;
}
.article {
	color: #D14C6C;
	display: inline-block;
	font-size: larger;
}
.plus_icon {
	color: #D14C6C;
	display: inline-block;
	size: 5px;
}
.art_tit {
	font-size: 1.5rem;
	margin-top: 1.6rem;
}
.art_con {
	font-size: 1.2rem;
	margin-top: 1.6rem;
	font-family: 'Cafe24SsurroundAir';
	font-weight: bolder;
}
.art_date {
	font-size: 0.8rem;
	margin-top: 1.6rem;
	font-family: 'Cafe24SsurroundAir';
	font-weight: bolder;
}
  /* 메인 세번째 */
  .main_3 {
	height: 100vh;  
	width: 100%;  
	background-color: rgba(128, 128, 128, 0.24);
	display: flex;
	position: relative;
  }
  .main_3_box {
	width: 40%;
	height: 100vh;
	padding: 110px 0 0 100px;
	position: relative;
  }
  .main_3_sub_y {
	width: 16rem;
	height: 11rem;
	position: absolute;
	top: 82px;
    left: -35px;
	z-index: -1;
  }
  .main_3_sub_txt {
	display: block;
	font-weight: 500;
	width: 600px;
  }
.main_hot3 {
	display: flex;
	gap:50px;
	margin-top: 2rem;
}
.main_hot3_txt {
	font-size: 1.7rem;
}
.main_hot3_txt p {
	width: 268px;
}
/* .main_hot3_top {
	width: 100%;
} */
.main_hot3_img {
	width: 530px;
    height: 270px;
}
.main_hot3_img img {
	width:100%;
	height:100%;
}
.main_hot3_txt {
 	margin:1.5rem 0 1.5rem 2.2rem;
}
.main_hot3_txt p {
	font-size: 1.2rem;
	margin: 0.8rem 0 0 2.5rem;
	line-height: 1.8rem;
	font-family: 'Cafe24SsurroundAir';
	font-weight: bolder;
}
.main_hot3 li {
	border: 1px solid rgba(53, 53, 53, 0.5);
	border-radius: 5px;
	transition: all 0.2s linear;
} 
.main_hot3 li:hover {
	box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.7);
	transform: scale(1.02);
} 
.main_hot3 li a {
	direction: none;
	color: #000;
} 
.icon_cir_1 {
	margin-right: 0.5rem;
	font-size: 1.4rem;
	color: #34c759;
}
.icon_cir_2 {
	margin-right: 0.5rem;
	font-size: 1.4rem;
	color: #af52de;
}
.icon_cir_3 {
	margin-right: 0.5rem;
	font-size: 1.4rem;
	color: #ff9500;
}

  /* 메인 네번째 */
  .main_4 {
	height: 100vh;  
	width: 100%;  
	background-color: #fff;
  }
  .main_4_box {
	width: 40%;
	height: 100vh;
	padding: 110px 0 0 100px;
	position: relative;
  }
  .main_gg {
	width: 650px;
	height: 300px;
	margin: 16rem 0 0;
	position: absolute;
  }
  .main_gg img {
	width: 100%;
	height: 100%;
  }
  .main_4_menu {
	display: flex;
	font-size: 2.4rem;
	flex-direction: row;
    flex-wrap: wrap;
	width: 800px;
    height: 150px;
	margin: 9rem 0 0 16rem;
  }
  .main_4_menu a {
	color: #000000cb;
	background-color: #f8f8f8;
	border-radius: 10px;
    width: 335px;
    height: 140px;
	margin: 0 1.5rem 1.5rem 0;
	padding: 2.5rem;
	display: flex;
	justify-content: space-between;
    align-items: center;
	font-family: 'Cafe24SsurroundAir';
	font-weight: bolder;
  }
  .main_4_menu a:hover {
	background-color: rgba(209, 77, 108, 0.2);
	transition: background 0.5s ease-in-out;
  }
  .main_4_box {
	display: flex;
  }
  /* 푸터 */
  .footer {
	background-color: #80808015;
	width:100%;
	font-size: 1.2rem;
  }

  .footer_main {
	display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer_team {
	display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer_team h3 {
	font-family: 'Cafe24SsurroundAir';
	font-weight: bolder;
	font-size: 1.15rem;
	padding: 2rem 0 0.3rem 0;
  }
  .footer_team span {
	font-family: 'Cafe24SsurroundAir';
	font-weight: bolder;
	font-size: 0.8rem;
	padding-bottom: 0.8rem;
  }
.footer_box {
	width : 200px;
	height: 70px;
	display: flex;
	border-radius: 0.3rem;
	justify-content: space-evenly;
    align-items: center;
}

.footer_box div {
	font-family: 'Cafe24SsurroundAir';
	font-weight: bolder;
	font-size: 0.8rem;
}
.footer_team_mem ul {
    display: flex;
    gap: 1.1rem;
    justify-content: center;
    margin: 0.5rem auto;
	padding: 1.5rem 0;
	border-top: 1px solid #00000025;
	border-bottom: 1px solid #00000025;
}
.footer_box_1 {
	background-color: #C1CBED;
	border: 0.1rem solid #3977BC;
	color: #345D8C;
}
.footer_box_2 {
	background-color: #CFE8DA;
	border: 0.1rem solid #39B075;
	color: #2B7550;
}
.footer_box_3 {
	background-color: #FAECC3;
	border: 0.1rem solid #F4C334;
	color: #755D18;
}
.footer_box_4 {
	background-color: #FFB4B4;
	border: 0.1rem solid #ED5555;
	color: #973131;
}
.footer_box span {
	/* font-family: 'Cafe24SsurroundAir';
	font-weight: bold; */
	font-size: 1.65rem;
}
.footer_con {
    display: flex;
    gap: 0.2rem;
    width: 40rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.footer_con h3 {
	padding-bottom: 0.1rem;
	font-size: 1.15rem;
	text-align: center;
	padding-top: 0.8rem;
}
.footer_array {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footer_array div {
	margin: 0 0.2rem;
}
.footer_con span {
	font-family: 'Cafe24SsurroundAir';
	font-weight: bolder;
	font-size: 0.8rem;
	display: flex;
	justify-content: center;
  }
.footer_img1 {
	width: 8rem;
	height: 3rem;
}
.footer_img2 {
	width: 6rem;
	height: 3rem;
}
.footer_img3 {
	width: 3rem;
	height: 3rem;
}
.footer_img4 {
	width: 6rem;
	height: 3rem;
}
.footer_ref {
	display: flex;
}
.footer_ref h3 {
	margin-top: 1rem;
	font-size: 1.15rem;
	font-family: 'Cafe24SsurroundAir';
	font-weight: bolder;
}
.footer_ref span {
	font-family: 'Cafe24SsurroundAir';
	font-weight: bolder;
	font-size: 0.8rem;
}
  /* 버튼 */
  /* .main_topBtn {
  
  } */

/* 로그인페이지 */
.login_logo{
	width: 260px;
}

.login_font{
	font-family: 'Cafe24SsurroundAir';
	font-weight: 600;
}

.login_bg{
    width: 100vw;
    padding: 130px 0px;
    min-height: 100vh;
	background-color: #f8f8f8;
}


.login_frame{
    margin: 0 auto;
    width: 95%;
    max-width: 550px;
}

.login_header{
	font-size: 2.3rem;
    margin: 20px auto 60px auto;
    font-weight: 900;
}
.login_header_a{
	color: #000;
}

.login_container{
	padding: 40px;
    background-color: white;
    border-radius: 7px;
    margin-top: 60px;
}

.login_box{
	display: flex;
    flex-direction: column;
}

.login_box input{
    border: none;
    outline: none;
    border-bottom: 2px solid #B7B7B7;
    padding: 10px 0px;
    margin-bottom: 10px;
    font-size: 1rem;
	font-family: 'Cafe24SsurroundAir';
	font-weight: 600;
}

.login_box input::placeholder{
	color: #B7B7B7;
}

.login_btn{
	border: none;
	width: 100%;
	background-color: #DEDEDE;
	padding: 10px;
	margin-top: 15px;
	font-weight: 900;
	font-size: 1rem;
}

.login_and{
	display:flex;
	flex-basis:100%;
	align-items:center;
	color:rgba(0,0,0,0.35);
	font-size:14px;
    margin: 12px 0px;
}
.login_and::before{
    content: "";
    flex-grow: 1;
    margin: 0px 10px 0px 0px;
    background: rgba(0,0,0,0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
}
.login_and::after{
	content:"";
	flex-grow:1;
    margin: 0px 0px 0px 10px;
	background:rgba(0,0,0,0.35);
	height:1px;
	font-size:0px;
	line-height: 0px;
}

.login_kakao{
	border: none;
	width: 100%;
	background-color: #FADA0A;
	padding: 10px;
	font-weight: 900;
}

.login_sign{
    text-align: right;
    padding-top: 16px;
}

.login_sign span{
    font-family: 'Cafe24SsurroundAir';
    font-weight: 600;
    font-size: 0.85rem;
    color: #000000d4;
    padding-right: 12px;
}

.login_sign a{
	font-size: 0.9rem;
    color: #D14C6C;
}

/* signin */
.sign_bg{
    background-color: #F2F1F1;
    padding: 50px 0px;
    min-height: 100vh;
}

.sign_frame{
	margin: 0 auto;
    width: 95%;
    max-width: 550px;
}

.sign_header{
    font-size: 2.3rem;
    margin: 0px auto 80px auto;
    font-weight: 900;
}

.sign_header a {
	color: #000;
}

.sign_container input, .sign_container select{
    width: 100%;
    padding: 9px;
	outline: none;
	border: none;
	margin-bottom: 10px;
	font-family: 'Cafe24SsurroundAir';
	font-weight: 600;
	font-size: 1rem;
}

.sign_container input::placeholder{
	color: #B7B7B7;
	font-family: 'Cafe24SsurroundAir';
	font-weight: 600;
}

.sign_container span{
    font-family: 'Cafe24SsurroundAir';
	font-weight: 600;
	font-size: 0.9rem;
	margin-bottom: 4px;
	display: inline-block;
}

.sign_email_input{
	background-color: #d8d8d8;
    color: #7a7a7a;
}


.sign_footer_box{
	display: flex;
	justify-content: space-between;
	margin-top: 25px;
}

.sign_footer_btn{
	border: none;
    border-radius: 50px;
    padding: 8px;
    width: 35%;
    background-color: #d14c6c;
    font-size: 1.4rem;
    color: #fff;
}

.sign_errmsg{
	color: red;
	padding-left: 20px;
}
.sign_commsg{
	color: rgb(22, 168, 32);
	padding-left: 20px;
}




/* 유저페이지 */
.user_container {
    width: 95%;
    max-width: 550px;
    margin: 50px auto;
}
/* 페이지 최상단 "회원정보" */
.user_h1{
	margin-left:-65px;
}
.user_userInfo{
	border-bottom: 1px solid #B7B7B7;	
}
.user_userInfo_text_center{
width: 50%;
text-align: center;
}
/* 두번째 "회원정보" 텍스트   */
.user_subcontainer{
	display: flex;
}
.user_h2{
	margin-top:10px;
}

.user_box_top_red_center{
	width: 50%;
    height: 50px;
    text-align: center;
    border: 1px solid #B7B7B7;
    border-top: 4px solid red;
    border-bottom: none;
	margin-top: 60px;
    border-radius: 5px 5px 0 0;
}
.user_vacant_box{
	width:90%;
	height:50px;
	border-bottom: 1px solid #B7B7B7;
	margin-top: 60px;
}
/* 회원정보 설정 */
.user_userInfo_text3{
	margin:20px;
}
.user_infocontainer{
	width:100%;
}
.user_table{
	border: 1px solid #B7B7B7;
	border-right: none;
	border-collapse: collapse;
	border-spacing: none;
}
.user_rowname{
	border-bottom: 1px solid #808080;
	background-color: #D9D9D9;
	border-spacing: 0px;
	width:4%;
	height:100px;
	padding:10px;
}
.user_rowcontent{
	border-bottom: 1px solid #B7B7B7;
	text-align: center;
	width:10%;
}
.user_button{
	width:50px;
	border:none;
	padding: 5px;
	float:right;
	background-color: #d9d9d9;
	cursor: pointer;
	border-radius:5px;
}
.user_button_exit{
	width:50px;
	padding:5px;
	background-color: #d9d9d9;
	border:none;
	border-radius:5px;
	cursor: pointer;
}
/* 모달 */
.user_warning{
	color:red;
	font-size:60px;
}
.user_black-bg{
	box-sizing: border-box;
    text-align: center;
    background-color: #00000099;
    width: 100%;	
    height: 100%;
    position: fixed;
    margin-top: 81px;
}
.user_white-bg{
    box-sizing: border-box;
	margin: 0 auto;
    width: 95%;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
	height: 585px;
}
.user_pwchange_box{
	border: none;
    height: 70px;
    padding: 20px;
    background: #d7d7d7;
    border-radius: 5px;
}
.user_nickChange_box{
	border: none;
    border-radius: 10px;
    background-color: #b7b7b7;
	height: 435px;
	padding:50px;
}
.user_h3_nick{
	margin-top:10px;
}
.user_withdraw{
	background-color: #b7b7b7;
	border-radius: 5px;
}
.user_pwchange_guide{
	color: red;
}
.user_box_password{
	margin-top: 35px;
}
.user_button_box_password{
margin-top:10px;
}
.user_h3_userout{
	margin-top:15px;
}
.user_button_box_userout{
	margin-top:20px;
}
#user_pw{
	margin-left:20px;
}
#user_pw_chk{
	margin-left:52px;
	margin-top: 30px;
}
#user_nick{
	margin-left:20px;
}
#user_del_reason{
	
    width: 279px;
}
#user_del_reason_input{
    margin-top: 15px;
    height: 150px;
    width: 353px;
	padding: 20px;
}
.userChk_button_confirm{
	box-sizing: content-box;
	width:80px;
	border:none;
	border-radius:5px;
	padding: 5px;
	background-color: #d9d9d9;
	cursor: pointer;
	margin:5px;
	margin-right:40px;
	text-decoration: none;
	color: blue;
}
.userChk_button_negative{
	box-sizing: content-box;
	width:80px;
	border-radius:5px;
	border: none;
	padding: 5px;
	background-color: #d9d9d9;
	cursor: pointer;
	margin:5px;
	text-decoration: none;
	color: red;
}
#user_del_reason_input::placeholder{
	text-align: center;
}
.user_warningText{
	color:red;
}
/* 유저확인 */
.userChk_container{
    width: 95%;
    max-width: 550px;
    margin: 40px auto;
    text-align: center;
}
.userChk_button{
	box-sizing: content-box;
	width:80px;
	border:none;
	border-radius:5px;
	padding: 5px;
	background-color: #d9d9d9;
	cursor: pointer;
	margin:5px;
	text-decoration: none;
	color: #000;
}
#userchk_pw{
	border-radius: 5px;
	padding: 5px;
}
#userchk_pw::placeholder{
	font-family: 'Cafe24SsurroundAir';
	font-weight: bold;
	font-size: 0.85rem;
	line-height: 0.85rem ;
}
#userchk_pw::placeholder{
	text-align: center;
}
.userchk_box_top_red_center{
	width: 50%;
    height: 50px;
    text-align: center;
    border: 1px solid #B7B7B7;
    border-top: 4px solid red;
    border-bottom: none;
	margin-top: 113px;
    border-radius: 5px 5px 0 0;
}
.userchk_vacant_box{
	width:90%;
	height:50px;
	border-bottom: 1px solid #B7B7B7;
	margin-top: 113px;
}

/* 지역 페이지 */
/* 지역 페이지 전체 */
.region_frame {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 50px;
}
/* 지역 페이지 헤더 */
.region_header_frame {
	margin-top: 150px;
	width: 95%;
	display: flex;
	max-width: 1000px;
	flex-direction: column;
	gap: 50px;
}
/* 지역 페이지 슬라이드 */
.carousel__item {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #FF92B1;
	text-align: center;
	line-height: 100px;
}
/* 지역 페이지 검색바 */
.region_search_frame {
    line-height: 50px;
    max-width: 600px;
    margin: 0 auto;
}
#region_select_list {
	width: 20%;
	height: 30px;
	border-radius: 15px;
	text-align: center;
	font-family: 'Cafe24SsurroundAir';
	font-weight: 600;
}
.region_date {
	width: 35%;
	height: 30px;
	border-radius: 15px;
	text-align: center;
	font-family: 'Cafe24SsurroundAir';
	font-weight: 600;
}
.region_search_text {
	height: 30px;
	border-radius: 15px;
	text-align: center;
	width: 85%;
	font-size: 1rem;
}
.region_form_btn {
	width: 15%;
	height: 30px;
	border-radius: 5px;
	width: 15%;
	background-color: aqua;
}

/* 추천 축제 */
.region_container {
	/* background-color: beige; */
	width: 90%;
	margin: 0 auto 10vh auto;
}
.region_container_header {
	margin-left: 10px;
}
.region_p1 {
	font-size: 1.5rem;
}
.region_p2 {
	font-size: 2rem;
}
.region_container_list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
	grid-gap: 10px;
}
.region_container_body {
	text-align: center;
	margin: 0 auto;
}
.region_container_body img {
	width: 100%;
}
.region_title {
	font-size: 1.5rem;
}
.region_content {
	font-size: 1rem;
}
/* 지역 축제 */
.region_sort {
	text-align: right;
    width: 90%;
}
.region_sort button {
	all: unset;
}
.region_sort1 {
	display: inline-block;
	padding-right: 10px;
}
.region_sort2 {
	display: inline-block;
}
.region_heart {
	font-size: 24px;
	color: #34c759;
	border: none;
	background: none;
	float: right;
}
/* 지역 관광지 */
.region_container_header2 {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
} 
.region_p4 {
	margin-bottom: 2%;
}
.region_more_btn {
	text-align: center;
	margin-bottom: 2%;
}
.region_more_btn button {
	background-color: #D14C6C;
	border: none;
	color: white;
	padding: 10px 50px;
	/* margin: 20px 0; */
	/* display: inline-block; */
	text-align: center;
	border-radius: 20px;
	font-size: 1.5rem;
}
/* 지역 미디어쿼리 */
/* 태블릿 */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	/* 지역페이지 */
	.region_container_list {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}
}
/* 모바일 */
@media only screen and (max-width: 767px) {
	/* 지역페이지 */
	.region_container_list {
		grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
	}
}



/* 에러페이지 */
@font-face {
    font-family: 'EF_jejudoldam';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* pc */
@media only screen and (min-width: 1024px) {
	/* 에러페이지 */
	.error_h1{
	    font-size: 5rem;
    	margin-bottom: 2rem;
	}
	.error_txtmsg{
	    margin-top: 190px;
	}
	.error_btn{
		font-size: 40px;
	}
	.error_header{
		font-size: 40px;
	}
	.error_title{
		font-size: 2rem;
    	padding: 1rem 0px 2rem 0px;
	}
	.error_main{
		padding: 20px;
		border: 3px solid #d14c6c;
		border-radius: 20px;
		margin: 20px auto;
		max-width: 700px;
		width: 50%;
	}
	.error_content{
		font-size: 1.5rem;
		line-height: 1.8rem;
		padding-bottom: 1rem;
	}
}

/* 태블릿 */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	/* 에러페이지 */
	.error_h1{
		font-size: 4rem;
		margin-bottom: 2rem;
	}
	.error_txtmsg{
		margin-top: 150px;
	}
	.error_btn{
		font-size: 35px;
	}
	.error_header{
		font-size: 40px;
	}
	.error_title{
		font-size: 2rem;
    	padding: 1rem 0px 1.5rem 0px;
	}
	.error_main{
		padding: 20px;
		border: 3px solid #d14c6c;
		border-radius: 20px;
		margin: 20px auto;
		max-width: 700px;
		width: 65%;
	}
	.error_content{
		font-size: 1.5rem;
		line-height: 1.8rem;
		padding-bottom: 1rem;
	}
}

/* 모바일 */
@media only screen and (max-width: 767px) {
	/* 에러페이지 */
	.error_h1{
		font-size: 3rem;
		margin-bottom: 3rem;
	}
	.error_txtmsg{
		margin-top: 100px;
	}
	.error_btn{
		font-size: 25px;
	}
	.error_header{
		padding: 0px 20px;
		font-size: 20px;
	}
	.error_title{
		padding-bottom: 20px;
		font-size: 2rem;
	}
	.error_main{
		padding: 20px;
		border: 3px solid #d14c6c;
		border-radius: 20px;
		margin: 20px;
	}
	.error_content{
		padding-top: 20px;
		font-size: 1.5rem;
	}
}
.error_h1{
	font-family: 'EF_jejudoldam';
	font-weight: 500;

}
.error_wasands::after{
	font-family: 'EF_jejudoldam';
	width: 100%;
	height: 100%;
	content: "";
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 0.6;
}
.error_txtmsg{
	text-align: center;
}
.error_btn{
	background-color: #d14c6c;
    color: #fff;
    padding: 8px 50px 5px 50px;
    border-radius: 50px;
}
.error_container{
	padding: 0px;
}
.error_header{
	padding: 0px;
}

.error_title span{
    color: #d14c6c;
}


/* auth */
/* pc */
@media only screen and (min-width: 1024px) {
	/* auth */
	.auth_check{
		grid-template-columns: 1fr 1fr;
	}
	.sign_header {
		margin: 90px auto 50px auto;
	}
	.auth_check_msg {
		height: 250px;
	}
}

/* 태블릿 */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	/* auth */
	.auth_check{
		grid-template-columns: 1fr 1fr;
	}
	.sign_header {
		margin: 80px auto 50px auto;
	}
	.auth_check_msg {
		height: 230px;
	}
}

/* 모바일 */
@media only screen and (max-width: 767px) {
	/* 로딩 */
	.loader {
		margin:90% auto 0px auto;
	}
	/* auth */
	.auth_check{
		grid-template-columns: 1fr;
	}
	.sign_header {
	    margin: 0px auto;
	}
	.auth_container{
		display: flex;
    	flex-direction: column-reverse;
	}
	.auth_check_msg {
		height: 200px;
	}
	.auth_success_bottom {
		margin-top: 70px;
	}
	.auth_success_div div {
		margin-top: 5%;
	}

	/* 로그인 */
	.login_header {
		margin: 15px auto 30px auto;
	}
	.login_container {
		margin-top: 5px;
	}
	/* detail */
	.detail_replie_change div{
		padding-left: 5px;
	}
}

.auth_consent p,.auth_consent li{
	font-family: 'Cafe24SsurroundAir';
	font-weight: bold;
}

.auth_container_input{
	margin-top: 5px;
    width: 100%;
    padding: 9px;
    outline: none;
    border: none;
    border-radius: 15px;
}

.auth_success_div{
	width: 90%;
    margin: 0 auto;
    max-width: 800px;
}
.auth_success_div div{
	font-size: 1.5rem;
    margin-bottom: 5px;
}
.auth_success_bottom{
	display: flex;
	flex-direction: column	;
	margin-top: 10px;
}
.auth_success_bottom span{
	font-size: 0.9rem;
}
.auth_relative{
	position: relative;
}
.auth_relative span{
	font-size: 0.85rem;
    padding-left: 9px;
}
.auth_absolute{
	position: absolute;
	top: 5px;
	right: 0;
}
.auth_chk_btn{
	border: none;
    font-size: 0.9rem;
    padding: 8.5px;
    background-color: #D14C6C;
    color: #Fff;
    border-radius: 15px;
    margin-left: 10px;
}
.auth_all_agree{
	margin-top: 5px;
}

.auth_relative{
	margin: 0 auto;
    width: 100%;
    max-width: 550px;
}

.auth_input_div label{
    padding: 0px 5px 0px 10px;
}
.auth_input_div span{
	color: rgb(22, 168, 32);
}
.auth_frame{
	margin: 0 auto;
    width: 95%;
	max-width: 1100px;
}

.auth_check{
	display: grid;
	grid-gap: 20px;
}
.auth_check_left ,.sign_check_right{
	display: flex;
    flex-direction: column;
}

.auth_check_left label,.auth_check_right label{
    padding: 0px 10px 0px 5px;
}

.auth_check_msg{
    background-color: #fff;
    border: 1px solid #000;
    overflow: scroll;
    overflow-x: hidden;
	padding: 10px;
}

.auth_input_div{
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}

.auth_errmsg{
	color: red;
    padding-left: 9px;
    font-size: 0.85rem;
}


/* detail */
.detail_frame{
	margin: 100px auto;
    width: 95%;
    max-width: 1000px;
}
.detail_container{
	padding: 0px;
}
.detail_header{
    padding: 10px;
    font-size: 2.3rem;
    background: #d14c6c1f;
}
.detail_header_flex{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 0.9rem;
}
.detail_type{
	font-size: 1.5rem;
}

.detail_tofrom{
    padding: 0.5rem 0rem;
}
.detail_body{
	padding: 20px;
    /* border: 1px solid; */
    border-top: 1px solid #7b7b7b;
    border-bottom: 1px solid #7b7b7b;;
}
.detail_content{
	margin-top: 20px;
    word-break: break-all;
}
.detail_hits{
	text-align: right;
	padding-bottom: 0.5rem;
	font-size: 0.85rem;
}
.detail_img img{
	width: 100%;

}
.detail_replie_container{
    margin-top: 50px;
}
.detail_replie_write_box{
	padding: 5px 10px;
}
.detail_replie_relative{
	position: relative;
	margin-top: 6px;
}
.detail_replie_relative textarea{
    width: 100%;
    padding: 10px;
    font-family: 'Cafe24SsurroundAir';
    border: 1px solid #6a6a6a;
    font-size: 1rem;
    font-weight: bold;
	resize: none;
}
.detail_replie_relative textarea::placeholder{
	color: #a9a9a9;
}
.detail_replie_length{
	text-align: right;
    font-size: 0.9rem;
}

.detail_replie_write_box_btn{
	position: absolute;
    font-size: 1.3rem;
    top: 8px;
    right: 6px;
    background: none;
    border: none;
    color: #D14C6C;
}
.detail_replie_read{
	padding: 10px;
    border-bottom: 1px solid #0000002b;
}
.detail_replie_flex{
    display: flex;
    justify-content: space-between;
    padding-top: 6px;
}
.detail_replie_nick{
    font-size: 1.08rem;
	position: relative;
}
.detail_replie_created_at{
	font-size: 0.75rem;
    color: #6a6a6a;
    line-height: 17px;
}
.detail_replie_content{
    padding-top: 20px;
    font-size: 1rem;
}
.detail_replie_change{
	display: flex;
	justify-content: flex-end;
    padding-top: 5px;
}
.detail_replie_change div{
	font-size: 0.85rem;
    padding-left: 10px;
    color: #d14c6c;
}
.detail_more_btn{
	padding-top: 10px;
}
.detail_more_btn span{
	font-size: 1rem;

}