* {
    padding: 15px;
    margin: 15px;
    text-align: center;
    font-weight: 700;
}
body {
    background-color: rgba(0, 89, 255, 0.1);
}
main {
    background-color: rgba(0, 89, 255, 0.2);
}
div {
    background-color: rgba(0, 89, 255, 0.3);
}
p {
    background-color: rgba(0, 89, 255, 0.4);
}
span {
    background-color: rgba(0, 89, 255, 0.5);
    display: block;
}
